.header {
    height: 80px;
    line-height: 80px;
    position: relative;
    background-color: #052b2e;
}

.logo {
    font-size: 16px;
    position: absolute;
    left: 40%;
    a {
        display: inline-block;
    }
}

.nav {
    padding-top: 20px;
    background-color: #f7f7f7;
    position: fixed;
    z-index: 10000;
    left: 0;
    width: 0;
    height: 100%;
    transition: width .3s;
    overflow: hidden;
    &.open {
        border-right: 1px solid #ddd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        width: 240px;
    }
    >li {
        float: none;
        height: 80px;
        text-align: right;
        >a {
            font-size: 20px;
            word-spacing: normal;
            color: #333;
            padding: 0 10px 8px;
            color: #fff;
            color: #fff;
            &.active,
            &:focus,
            &:active,
            &:hover {
                background-color: transparent;
                color: #1baab9;
                border-bottom: 2px solid #1baab9;
            }
        }
        &+li {
            margin-left: 0;
        }
    }
}

.login {
    text-align: right;
    font-size: 14px;
    display: none;
    i {
        display: inline-block;
        margin: 0 15px;
        color: #aaa;
    }
    a {
        color: #333;
        &:hover,
        &:focus,
        &:active {
            color: #ff6000;
        }
    }
}

.icon {
    margin-top: 10px;
    display: block
}

.sp-menu-icon {
    width: 24px;
    padding: 6px 6px 6px 0;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 6px
}

.sp-menu-icon:after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    border-top: 3px solid #666;
    border-bottom: 3px solid #666;
    background-color: #666;
    padding: 4px 0;
    background-clip: content-box
}

@media (min-width: 768px) {
    .logo {
        position: relative;
        float: left;
        left: 0
    }
    .nav {
        width: 100% !important;
        position: relative;
        background-color: transparent;
        padding-top: 0;
        top: 0;
        li {
            float: left;
            padding: 0;
        }
    }
    .icon {
        display: none;
    }
    .login {
        display: block;
    }
}

//footer
.footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #052b2e;
    span{
        font-size: 16px;
        color: #fff;
        opacity: .5;
    }
}